@model FabricStore.Web.Models.CommentViewModel
<div class="tab-pane table-bordered blockquote-reverse">
    <h4>By: @Model.AuthorName</h4>
    <p>@Model.Content</p>
    <p>@Model.DateCreated</p>
</div>