@model IEnumerable<FabricStore.Web.Models.ProductHomeViewModel>
@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    @foreach (var product in Model)
    {
        @Html.Partial("_ProductPartial", product)
    }
</div>
@for (int i = 1; i <= ViewBag.Pages; i++)
{
    <a href="@Url.Action("List", new { id = i })">@i</a>
}