@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bulgaria<br />
    Sofia, Somewhere<br />
    <abbr title="Phone">P:</abbr>
    0981234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@fabricstore.com">support@fabricstore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@fabricstore.com">marketing@fabricstore.com</a>
</address>